{
    "openapi": "3.0.0",
    "info": {
      "title": "Trello API",
      "version": "1.0.0",
      "description": "OpenAPI specification for Trello API focusing on OAuth 1.0 authentication and accessing organization members."
    },
    "servers": [
      {
        "url": "https://api.trello.com/1/"
      }
    ],
    "paths": {
      "/organizations/{organizationId}/members": {
        "get": {
          "summary": "Get members of an organization",
          "operationId": "getOrganizationMembers",
          "parameters": [
            {
              "name": "organizationId",
              "in": "path",
              "required": true,
              "description": "The ID of the organization",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "key",
              "in": "query",
              "required": true,
              "description": "Your Trello API key",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "token",
              "in": "query",
              "required": true,
              "description": "Your Trello OAuth 1.0 token",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "A list of members in the organization",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "fullName": {
                          "type": "string"
                        },
                        "username": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "components": {
      "securitySchemes": {
        "OAuth1": {
          "type": "oauth2",
          "flows": {
            "authorizationCode": {
              "authorizationUrl": "https://trello.com/1/OAuthAuthorizeToken",
              "tokenUrl": "https://trello.com/1/OAuthGetAccessToken",
              "scopes": {}
            }
          }
        }
      }
    },
    "security": [
      {
        "OAuth1": []
      }
    ]
  }
  